.layout-boxed html,
.layout-boxed body {
  height: 100%;
}

.layout-boxed .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.layout-boxed {
  /*background: url('../img/boxed-bg.jpg') repeat fixed;*/
}

.fixed.layout-boxed .wrapper {
  max-width: 100%;
}