/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
/lib/rules/utils/unicode/is-combining-character.js
test.js
!.eslintrc.js
node_modules
jspm_packages
public/
views/
sql/
upload/
workspace/
structure/pieces/component/socket/chat/js/chat.js
structure/pieces/component/socket/notifications/notification.js
structure/pieces/component/status/routes/e_translation.js