div.podbar
	button.btn.btn-default.pull-right.helpButton.podbar-icon
		i.fa.fa-cog.fa-2x
	.row.podbar-content
		.col-xs-5.col-xs-offset-1
			.row
				.col-xs-12
					| CREATE : PROJECT | APPLICATION | ENTITY
		.col-xs-6

script(src='/js/Newmips/help.js')