extends ../main_layout
block header
	h1
		| 403 Forbidden
	ol.breadcrumb
		li
			a(href='#')
				i.fa.fa-dashboard
				| Accueil
		li
			a(href='#') Erreur
		li.active 403 Forbidden
block content
	.error-page
		h2.headline 403
		.error-content
			h3
				i.fa.fa-warning.text-yellow
				| Oops! Vous ne disposez pas des droits suffisants pour afficher cette page.
			p
				| Merci de contacter votre administrateur.
				| Entre temps, vous pouvez
				a(href='/') retourner à la page d'accueil
				| ou
				a(href='javascript:history.back();') revenir en arrière.
