@import url("../../light.css");

/*
 * Skin: Brown Light
 * ---------
 */
.main-header .navbar {
  background-color: #904818;
}
.main-header .navbar .sidebar-toggle:hover {
  background-color: #9a522c;
}
@media (max-width: 767px) {
  .main-header .navbar .dropdown-menu li a:hover {
    background: #9a522c;
  }
}
.main-header .logo {
  background-color: #904818;
}
.main-header .logo:hover {
  background-color: #9a522c;
}
.main-header li.user-header {
  background-color: #904818;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
  border-left-color: #904818;
}
.form-title{
    background-color: #f9fafc;
    border: 1px solid #904818;
    border-radius: 3px;
}
.form-title h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Login Page Style */
html#html-login, html#html-login body{
  background-color: #222d32 !important;
}

html#html-login .form-box .header {
  background: #904818;
}

html#html-login .btn.btn-primary:hover, html#html-login .btn.btn-primary:active, html#html-login .btn.btn-primary.hover {
  background-color: #904818;
}

html#html-login .btn.btn-primary {
  background-color: #9a522c;
  border-color: #904818;
}