@import url("../../light.css");

/*
 * Skin: Pink Light
 * ---------
 */
.main-header .navbar {
  background-color: #FFC0C8;
}
.main-header .navbar .sidebar-toggle:hover {
  background-color: #ECADB5;
}
@media (max-width: 767px) {
  .main-header .navbar .dropdown-menu li a:hover {
    background: #ECADB5;
  }
}
.main-header .logo {
  background-color: #FFC0C8;
}
.main-header .logo:hover {
  background-color: #ECADB5;
}
.main-header li.user-header {
  background-color: #FFC0C8;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
  border-left-color: #FFC0C8;
}
.form-title{
    background-color: #f9fafc;
    border: 1px solid #FFC0C8;
    border-radius: 3px;
}
.form-title h3{
    margin-top: 5px;
    margin-bottom: 5px;
}